.sidebar {
    margin-top: 20px;
    
}

.main-content {
    margin-top: 20px;
    margin-left: 20px;
}

/* label color */
.input-field label {
    color: #000;
  }

/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #d84315  !important;
}

/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #d84315 !important;
    box-shadow: 0 1px 0 0 #d84315  !important;
  }

  .city-Btn {
    margin-top: 20px;

  }

  #search-label {
    margin-top: 10px;
    font-size: medium;
  }

  #weather-report {
    margin-left: 20px;
  }

  #forecast {
    margin-left: 20px;
  }


